@media (max-width: 1300px){
    .prat:nth-of-type(1){
    .item{
    .text{
    h1{
    font-size: 31px ;
    }
    h6{
    font-size: 12px;
    }
    p{
    font-size: 12px;
    }
    }
    }
}
}
@media (min-width: 371px) and (max-width: 1300px){
    .navbar-collapse {
        background-color:rgba(225,225,225,0.8);
        }
}
// @media (min-width: 577px) and (max-width: 1300px) {



// }

@media (min-width: 992px) and (max-width: 1200px) {
    .navbar-nav .nav-item {
    font-size: 12px !important;
}
}
// @media (min-width: 769px) and (max-width: 1300px) {


// }
// @media (min-width: 1181px) and (max-width: 1300px) {

// }

